@media only screen and (max-width: 480px) {
  .header-container {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 478px;
    background-size: cover;
  }

  .header-logo {
    top: 20px;
    left: 40px;
    position: absolute;
  }

  .header-logo img {
    width: 135px;
    height: 27px;
  }

  .header-navbar {
    position: absolute;
    top: 63px;
    left: 45px;
  }

  .header-navbar li {
    font-size: 14px;
    font-weight: 400;
    padding-right: 60px;
  }

  .header-title {
    width: 256px;
  }

  .header-title h1 {
    font-size: 36px;
    font-weight: 900;
  }

  .header-title h2 {
    font-size: 16px;
    font-weight: 400;
  }

  /** Footer **/

  .footer-container {
    width: 100%;
    max-width: 480px;
    height: 362px;
    display: block;
  }

  .main-logo {
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 11px;
  }

  .footer-logo {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }

  .footer-logo img {
    width: 145px;
    height: 29px;
  }

  .vector-logo {
    padding-right: 10px;
  }

  .vector-logo img {
    height: 25px;
    width: 20px;
  }

  .footer-navbar1,
  .footer-navbar2,
  .footer-navbar3 {
    margin: 0;
  }

  .footer-navbar1 p,
  .footer-navbar2 p,
  .footer-navbar3 p {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 40px;
  }

  .footer-navbar1 li,
  .footer-navbar2 li,
  .footer-navbar3 li {
    padding-top: 10px;
  }

  .footer-navbar1 ul,
  .footer-navbar2 ul,
  .footer-navbar3 ul {
    font-size: 12px;
    padding-left: 70px;
    padding-top: 0;
  }

  /** About Section **/

  /** Wrapper 1 **/
  .about-wrapper1 {
    flex-direction: column;
  }

  .wrapper1-image {
    width: 319.254px;
    height: 212.836px;
    margin: 40px 0 0 40px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
  }

  .wrapper1-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }

  .textarea1-title,
  .textarea1-rectangle,
  .textarea1-text {
    margin: 10px 0 0 41px;
    width: 253px;
    height: auto;
  }

  .textarea1-title h2 {
    font-size: 20px;
  }

  .textarea1-rectangle {
    width: 118px;
    height: 3px;
  }

  .textarea1-text p {
    font-size: 12px;
  }

  /** Wrapper 2 **/
  .about-wrapper2 {
    flex-direction: column-reverse;
  }

  .wrapper2-image {
    height: 232.731px;
    flex-shrink: 0;
  }

  .wrapper2-image img {
    object-fit: contain;
  }

  .wrapper2-textarea {
    margin: 0;
  }

  .textarea2-title,
  .textarea2-rectangle,
  .textarea2-text {
    margin: 10px 0 0 41px;
    width: 253px;
    height: auto;
  }

  .textarea2-title h2 {
    font-size: 20px;
  }

  .textarea2-rectangle {
    width: 118px;
    height: 3px;
  }

  .textarea2-text p {
    font-size: 12px;
  }

  .wrapper2-image {
    margin: 0;
    justify-content: center;
  }

  .wrapper2-image img {
    width: 155px;
    height: 232.731px;
    flex-shrink: 0;
  }

  .textarea2-button button {
    width: 135px;
    height: 28px;
    font-size: 10px;
    margin: 10px 0 0 40px;
    padding: 0;
  }

  /** Wrapper 3 **/
  .about-wrapper3 {
    flex-direction: column;
  }

  .wrapper3-image {
    width: 319.254px;
    height: 212.836px;
    margin: 40px 0 0 20px;
  }

  .wrapper3-image img {
    object-fit: contain;
  }

  .textarea3-title,
  .textarea3-rectangle,
  .textarea3-text {
    margin: 10px 0 0 41px;
    width: 253px;
    height: auto;
  }

  .textarea3-title h2 {
    font-size: 20px;
  }

  .textarea3-rectangle {
    width: 118px;
    height: 3px;
  }

  .textarea3-text p {
    font-size: 12px;
  }

  .textarea3-button button {
    width: 135px;
    height: 28px;
    font-size: 10px;
    margin: 10px 0 0 40px;
    padding: 0;
  }

  .wrapper3-textarea {
    margin: 20px 0 0 0px;
  }

  /* Gallery Section */
  .gallery-title h2,
  .gallery-title span {
    font-size: 20px;
  }

  /* NavBar */

  .navbar-container {
    width: 100%;
    max-width: 480px;
    display: block;
  }

  .navbar-logo {
    margin: 0;
    padding: 20px 0 0 40px;
  }

  .navbar-logo img {
    width: 135px;
    height: 27px;
  }

  .navbar-links {
    margin: 30px 0 0 44px;
  }

  .navbar-links li {
    font-size: 14px;
    padding-right: 60px;
  }

  /* helpform */

  .helpform {
    height: auto;
  }

  .helpform-container {
    margin-bottom: 50px;
  }

  .helpform-title {
    margin: 40px 0 0 40px;
  }

  .helpform-title h2 {
    font-size: 20px;
  }

  .helpform-form {
    width: 335px;
    height: 490px;
    font-size: 12px;
    margin: 20px 0 0 40px;
  }

  .form-name,
  .form-email,
  .form-phone,
  .form-subject,
  .form-message {
    padding: 0px;
    margin-left: 21px;
    display: flex;
    flex-direction: column;
  }

  .form-name {
    margin-top: 20px;
  }

  .form-name input,
  .form-email input,
  .form-phone input,
  .form-subject input {
    width: 270px;
    height: 23px;
    border-radius: 5px;
    margin-left: 0;
    margin: 10px 0 10px 0;
  }

  .form-name input[type="text"],
  .form-email input[type="email"],
  .form-phone input[type="number"],
  .form-subject input[type="text"] {
    font-size: 10px;
    padding-left: 10px;
  }

  .form-name ::placeholder,
  .form-email ::placeholder,
  .form-phone ::placeholder,
  .form-subject ::placeholder {
    font-size: 10px;
    font-size: 10px;
    padding-left: 1px;
  }

  .form-message textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    font-family: "Lato", sans-serif;
  }

  .helpform-form button {
    width: 135px;
    height: 28px;
    font-size: 10px;
    position: absolute;
    left: 100px;
    top: 443px;
  }

  /* Location */

  .location {
    display: flex;
    flex-direction: column;
  }

  .location-maps {
    display: block;
  }
}
